@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


:root {
  --laranja :   rgba(248,82, 0, 1); /* laranja escuro*/
  --primaria: rgba(0,0,0,1);/* */
  --terciaria:  rgba(255,94,0, 1) ; /* laranja claro*/
  --quatenaria:rgba(230,92,11,1); /* vermelho-alaranjado forte */
  --quintenaria :rgba(255,0,0,1); /* Vermelho puro*/
  --sextenaria :rgba(0,191,99,1); /* verde */
  --setenaria: rgba(234, 168, 68, 1); 
}
*,
*::before,
*::after {
  box-sizing: border-box;
}

*{
  border: 1px solid red;
}

html{
  scroll-padding-top: 0px; /* ajuste este valor conforme a altura da sua barra de navegação */
  padding: 0;
  margin: 0;
}
body {
  font-family: 'Lato', sans-serif;
  margin: 0 !important;
  padding: 0px !important;
  font-size: 1rem;

}

strong, b {
  font-weight: 900;
}
.logo{
  width:275px;
  height:45px;
  margin: 0  ;
}

.navbar-nav{
  display: flex ;
  flex-direction: row;
  justify-content:space-between;
  width: 70%
}

@media (max-width:1000px) {
  .navbar-nav{
    display: flex ;
    flex-direction: column;
    justify-content:center;
    
  }
}
header .nav-link {
  color: black !important;
  opacity:1;
  font-weight: 700;
}
header .nav-link:hover{
  color: #444!important;
}
/*header ul li a.nav-link{
  display: block;
  min-width:130px;
  text-align: center;
}
*/
@media (max-width:1200px) { 
  header .navbar-nav {
    flex-direction: column;
    align-items: center;

  }

}
@media (max-width: 576px){
  .navbar-nav {
    flex-direction: column;
    align-items: center;
  }

}
@media(max-width: 576px ){
  .logo{
    width:222px;
    height:35px;

  }

}
.my-btn-orange, .saiba-mais, .quero-negociar {
  background-color: #ff6200; /* Cor de fundo laranja */
  color: #fff; /* Cor do texto branca */
  font-size: 1.6rem; /* Tamanho do texto maior */
  font-weight: bold; /* Texto em negrito */
  padding: 0px 20px; /* Espaçamento interno */
  border: none; /* Sem borda */
  border-radius: 3px; /* Bordas arredondadas */
  text-align: center; /* Alinhamento centralizado */
  text-decoration: none; /* Remover sublinhado */
  display: inline-block; /* Para evitar comportamento de bloco completo */
  transition: transform 0.3s ease; /* Efeito ao passar o mouse */
}

.quero-negociar{
  font-size: 1.2rem !important;
  padding:  5px 25px !important;
  font-weight: bold;
  font-family: 'lato';
  text-shadow: 0px 0px 1px white;
}


.btn {
 font-size: 1.5rem; /* Tamanho do texto maior */
 font-weight: bold; /* Texto em negrito */
 padding: 0px 20px; /* Espaçamento interno */
 border: none; /* Sem borda */
 border-radius: 3px; /* Bordas arredondadas */
 text-align: center; /* Alinhamento centralizado */
 text-decoration: none; /* Remover sublinhado */
 display: inline-block; /* Para evitar comportamento de bloco completo */
 transition: transform 0.3s ease; /* Efeito ao passar o mouse */
}
.btn:hover {
  transform: scale(1.05); /* Leve aumento ao passar o mouse */
  color: white;
  text-shadow: none;
}

#redes-folow {
  position: fixed;
  z-index: 9000;
  display: flex;
  max-width: 32px;
  left: -50;
  top:30%;
  text-decoration: none;
  font-size: 24px;

}
#redes-folow ul {
  list-style: none;
  text-align:center;
  padding:0;
  height: 128px;
  background-color: rgba(0,0,0,.8);
  display:block;
  padding:  0;
}
#redes-folow ul li a{
  color: white;
}
.icon-instagram {
  width: 32px; /* Tamanho do ícone */
  height: 32px;
  background: linear-gradient(45deg, #FEDA77, #D6249F, #8134AF, #515BD4);
  display: flex;
  align-items: center;
  justify-content: center;
  color: white; /* Cor do ícone dentro */
  font-size: 24px; /* Tamanho do ícone interno */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); /* Sombras para destaque */
}
@keyframes gradient-animation {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}
.icon-linkedin {
  width: 32px;
  height: 32px;
  color: #0A66C2 !important; /* Azul oficial */
  display: flex;
  align-items: center;
  justify-content: center;
  background: white; /* Cor do ícone */
  font-size: 32px; /* Tamanho do ícone */
}
.whatsapp-icon {
  width: 32px; /* Largura do ícone ou botão */
  height: 32px; /* Altura do ícone ou botão */
  background: #25D366; /* Verde oficial do WhatsApp */
  display: flex;
  align-items: center;
  justify-content: center;
  color: white; /* Cor do ícone ou texto */
  font-size: 32px; /* Tamanho da fonte */
  text-decoration: none; /* Remove o sublinhado padrão dos links */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); /* Sombras para destaque */
  border: none; /* Remove qualquer borda adicional */

}
#SectionForm{
  background: url(../images/aba1/Aba1FundoLaranja.png) no-repeat center center scroll ; 
  background-size: cover; 
  min-height: 50vh; 
  padding-bottom: 100px;
  padding-top: 110px;
  font-family: "Poppins", sans-serif;
  border: 1px solid blue;
}

#SectionForm h2 {
  font-size: 4.8rem;
  margin: 20px 0;
  line-height: 5.6rem;
  border: 1px solid green;
  
}
#SectionForm strong {
  font-weight: 700;
}

#SectionForm p{
  font-size: 2.3rem;
  margin: 30px 0;
}
#SectionForm input{
  background: #f3f3f3;
}
#SectionForm ul{
  font-size:2.3rem;
  line-height: 2.4rem;
  margin: 0 10px;

}
#SectionForm ul li::marker {
  font-size: 3.1rem;
}
@media (max-width: 1400px) { 
 #SectionForm{
  background: url(../images/aba1/Aba1FundoLaranja.png) no-repeat center center scroll ; 
  background-size: cover; 
  min-height: 50vh; 
  padding-bottom: 100px;
  padding-top: 110px;
  font-family: "Poppins", sans-serif;
}

#SectionForm h2 {
  font-size: 3rem;
  margin: 20px 0;
  line-height: 3.6rem;
  
}
#SectionForm strong {
  font-weight: 700;
}

#SectionForm p{
  font-size: 2.3rem;
  margin: 30px 0;
}
#SectionForm input{
  background: #f3f3f3;
}
#SectionForm ul{
  font-size:2.3rem;
  line-height: 2.4rem;
  margin: 0 10px;

}
#SectionForm ul li::marker {
  font-size: 3.1rem;
}
}

@media (max-width: 600px) {

  #SectionForm{
    background: url(../images/aba1/Aba1FundoLaranja.png) no-repeat center center scroll ; 
    background-size: cover; 
    min-height: 50vh; 
    padding-bottom: 100px;
    padding-top: 110px;
    font-family: "Poppins", sans-serif;
  }

  #SectionForm h2 {
    font-size: 2.4rem;
    margin: 5px 0;
    line-height:2.8rem;

  }

  #SectionForm p{
    font-size: 1.2rem;
    margin: 10px 0;
  }
  #SectionForm input{
    background: #f3f3f3;
  }
  #SectionForm ul{
    font-size: 1.2rem;
    line-height: 1.4rem;
    margin: 10px 0px 30px -14px;

  }
  #SectionForm ul li::marker {
    font-size: 1.4rem;
  }
}


#TrabalheConosco{
  padding: 25px 25px 15px 25px;
  text-align:center;
  border-radius:10px;
  min-height: 670px;

}
#TrabalheConosco h4 {
  font-size: 2rem;
  font-weight: 700;
  color: black;
}
#TrabalheConosco h5{
  font-size: 1.5rem;
  font-weight: 700;
  color: black;
}
#TrabalheConosco label {
  font-size: 1.2rem;
  font-weight: 500;
  display: block;
  width:100%;
  text-align:left;
}
#TrabalheConosco input {
  font-size: 1.4rem;
  font-weight: 500;
  display: block;
  background: #ccc;
}

#TrabalheConosco p {
  font-size: 2.2rem;
  font-weight: 700;
}
#TrabalheConosco .enviar{
  font-size: 1.5rem;
  background: #00bf63 !important;
  font-weight: 900;
  border-radius: 6px;
}

.form-label{
  text-align: left;
}

@media (max-width: 576px){


}

.form-p {
  margin: 10px 0;
}


/* Continuar ajustando  */



section, #SectionForm{
  padding: 50px 0;
}

#Quem-Somos h1 {
  font-size: 4rem ;
  color: var(--laranja);
  font-weight:900;
}
#Quem-Somos p {
  font-size: 1.6rem;
}
#Quem-Somos h2 {
  font-size: 2rem;
}

@media (max-width:1100px) { 
  #Quem-Somos  h1 {
    font-size:3rem !important ;
    color: var(--laranja);
  }
}

@media (max-width:576px) {  
  #Quem-Somos{
    margin: 0 auto;
  }
  #Quem-Somos h1 {
    font-size: 3rem ;
  }
  #Quem-Somos p {
    font-size: 1.2rem;
  }
  #Quem-Somos h2 {
    font-size: 1.8rem;
  }

}
#Nossas-Solucoes { 
  background: url(../images/aba3/InadimplenciaFundo.png) no-repeat center center scroll ; 
  background-size: cover; 
  color: white; 
  
}
#Nossas-Solucoes ul{
  margin: 0 auto;
}
#Nossas-Solucoes h2 {
  font-size: 3.5rem;
  font-weight:500;
}
#Nossas-Solucoes h3{
  font-size: 3rem;
}
#Nossas-Solucoes span{
  font-size: 4rem
}
#Nossas-Solucoes h2 >  strong{
 font-weight: 900;
}
#Nossas-Solucoes p ,
#Nossas-Solucoes h3 ,
#Nossas-Solucoes h4 {
  font-size: 2rem;
  padding: 20px 0 ;
}
#Nossas-Solucoes h4 {
  font-weight: 900;
}
#Nossas-Solucoes ul{
  list-style-image:  url(../images/aba3/Bolinhalaranja.png);
  font-size:2rem;
} 
#Nossas-Solucoes ul li {
  font-size: 1.6rem;
}
#Tecnologias h2 {
  font-size: 4rem;
  color: black;
}
#Tecnologias  h5 {
  font-size: 1.5rem;
  text-align:center;
  font-weight: 700;
  color: black;
}
#Tecnologias img{
  width:20% !important;
  max-width: 100%;
}
#Acessoria {
  color:white;
  background: url(../images/aba5/FundoAcessoria.png) ;
  background-attachment: scroll; 
  background-size: cover; 
  background-repeat: none;
}
#Acessoria ul{
  list-style-image:  url(../images/aba3/Bolinhalaranja.png);
  font-size:2rem;
}
#Acessoria h2 {
  font-size: 4rem;
}
#Acessoria p {
  font-size: 2.6rem
}
.bg-light {
  background: white !important;
}

#Estrutura {
  color: black;
}
#Estrutura img {
  opacity: 1;
}
#Estrutura h2 {
  font-size: 3rem;
  font-weight:400;

}
#Estrutura [class^="col-"] {
  margin:0 !important;  
  padding: 4px 4px;
}
#Estrutura p {
  font-size: 1.6rem;
  padding: 0 14%;
}
#Estrutura img{
  display: block;
  min-width: 100%;
  border-radius: 10px;
  min-height: auto;
}
#Podcast{
  background: url(../images/aba8/FraudesFundo.png);no-repeat center center scroll ; 
  background-size: cover; 
  font-size: 2.1rem;

}
#Podcast #Exploramos{
  font-size: 2.5rem;
}
#Description-CEO-2{
  display: none;

}
#Description-CEO-1{
  display: block;

}
.footer-link-sm{
  display: block !important;
  width:100% !important;

}
#Parceiros h2 {
  font-size: 3rem;
} 
#Footer img {
  max-width: 100%; /* Limita a largura da imagem à largura da coluna */
  height: auto;    /* Mantém a proporção da imagem */
}

.saiba-mais{
  font-size: 1.8rem !important;
  padding:  5px 25px !important;
}

#chamada1-title1{
  font-size: 3rem;
  color: black;
}
#chamada1-title2{
  font-size: 4rem;
}
#chamada1-title3{
  font-size: 3rem;
}
#chamada1-title4{
  font-size: 2.5rem;
}
#Chamada1  h3 {
  margin: 24px 0px ;
  color: black;

}
#Chamada2 h2 {
  font-size: 4 rem;
}
#Clientes {
  background: #333;
}
footer p {
  font-size: 1rem;
}
footer a{
  color: black;
  font-weight: 900;
  margin: 0 5px;
  font-size: 1.1rem;
  line-height: 1.5;
}
footer img{
  max-width: 250px;
  display: block;
}
footer a {
  text-decoration:none;
}
footer a:hover, .nav-link:hover{
  color: var(--laranja) !important;
}






/* TELA SM */
@media (max-width:576px) {   



  ul li::marker{
    font-size: 1rem !important;
  }



  #Nossas-Solucoes ul li  {
    font-size: 1.1rem;
  }

  #Nossas-Solucoes p {
    font-size:1.2rem;
  }

  .enviar{
    font-size: 1.2rem;
  }


  #Tecnologias  h5 {
    font-size: 1.5rem;
    text-align:center;
    font-weight: 900;
  }
  #Tecnologias h2 {
    font-size: 3rem;
    color: black;
  }


  .row{
    display:block;
  }

  #Nossas-Solucoes { 
    background: url(../images/aba3/InadimplenciaFundo.png) no-repeat center center scroll ; 
    background-size: cover; 
    color: white; 

  }

  #Nossas-Solucoes h2{
    font-size: 1.9rem;
    display: flex;
    float: left;
  }
  #Nossas-Solucoes span{
    font-size: 2rem
  }
  #Nossas-Solucoes h3{
    font-size: 1.4rem;
  }
  #Nossas-Solucoes h4{
    font-size: 1.4rem;
  }

  #Nossas-Solucoes ul li  {
    font-size: 1.4rem;
  }

  #Nossas-Solucoes p {
    font-size:1.3rem;
  }
  #Nossas-Solucoes span,
  #Nossas-Solucoes h3,
  #Nossas-Solucoes h4,

  #Nossas-Solucoes p {
    padding: 20px 0;
  }

  #Nossas-Solucoes {
    background: 
    url(../images/aba3/InadimplenciaFundo.png) 
    no-repeat 
    right bottom;
    padding: 100px 50px;
    background-position: left bottom; 
    background-repeat: no-repeat; 

  }

  #Description-CEO-1{
    display: none ;
  }
  #Description-CEO-2{
    display: block;
  }



  #Footer .col-12.col-xl-2, #Footer .col-12.col-xl-8 {
    margin-bottom: 10px;  Adiciona espaçamento entre os elementos em telas menores 
  }


  .br-none{
    display: none;
  }
}

