@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");


:root {
  --laranja :   rgba(248,82, 0, 1); /* laranja escuro*/
  --primaria: rgba(0,0,0,1);/* */
  --terciaria:  rgba(255,94,0, 1) ; /* laranja claro*/
  --quatenaria:rgba(230,92,11,1); /* vermelho-alaranjado forte */
  --quintenaria :rgba(255,0,0,1); /* Vermelho puro*/
  --sextenaria :rgba(0,191,99,1); /* verde */
  --setenaria: rgba(234, 168, 68, 1); 
}
*,
*::before,
*::after {
  box-sizing: border-box;
}

*{
/*  border: 1px solid red;*/
}

html{
 scroll-padding-top: 60px; /* ajuste este valor conforme a altura da sua barra de navegação */
}
a.btn:hover{
  opacity: 0.7;
}

body {
  font-family: 'Lato', sans-serif;
  margin: 0;
  padding: 0;
  font-size: 1rem;

}

strong, b {
  font-weight: 900;
}

.nav-link {
  color: black !important;
  opacity:1;
  font-weight: 700;
}

.nav-link:hover{
  color: #444!important;
}

#Quem-Somos h1 {
  font-size: 4rem ;
  color: var(--laranja);
  font-weight:900;
}


#Quem-Somos p {
  font-size: 1.6rem;
}

#Quem-Somos h2 {
  font-size: 2rem;
}

#Nossas-Solucoes { 
  background: url(../images/aba3/InadimplenciaFundo.png) no-repeat center center scroll ; 
  background-size: cover; 
  color: white; 

}
#Nossas-Solucoes ul{
  margin: 0 auto;
}

#Nossas-Solucoes h2 {
  font-size: 3.5rem;
  font-weight:500;
}
#Nossas-Solucoes h3{
  font-size: 3rem;
}
#Nossas-Solucoes span{
  font-size: 4rem
}
#Nossas-Solucoes h2 >  strong{
 font-weight: 900;
}

#Nossas-Solucoes p ,
#Nossas-Solucoes h3 ,
#Nossas-Solucoes h4 {
  font-size: 2rem;
  padding: 20px 0 ;
}
#Nossas-Solucoes h4 {
  font-weight: 900;
}
#Nossas-Solucoes ul li {
  font-size: 1.6rem;
}
#TrabalheConosco h4 {
  font-size: 2rem;
}
#TrabalheConosco h5{
  font-size: 1.6rem;
  font-weight: 900;
}

#TrabalheConosco label {
  font-size: 1.2rem;
  font-weight: 400;
  display: block;
  width:100%;
}

#TrabalheConosco input {
  font-size: 1.2rem;
  font-weight: 400;
  display: block;
}

.bg-light {
  background: white !important;
}

#SectionForm{
  background: url(../images/aba1/Aba1FundoLaranja.png) no-repeat center center scroll ; 
  background-size: cover; 
  min-height: 100vh; 

}
#SectionForm h2 {
  font-size: 4rem;
  margin: 20px 0;
}
#SectionForm p{
  font-size: 2rem;
  margin: 20px 0;
}
#SectionForm input{
  background: #f3f3f3;
}

#SectionForm ul{
  font-size:2rem;
}


.form-p{
  font-size: 2rem;
  font-weight: 900;
}

.enviar{
  font-size: 1.4rem;
}

#Nossas-Solucoes ul, #Acessoria ul{
  list-style-image:  url(../images/aba3/Bolinhalaranja.png);
  font-size:2rem;
}

.logo{
  width:275px;
  height:45px;
}

#TecnologiasHeader {
  font-size: 3rem;
  font-weight: 900;
  color: black;
}

#Tecnologia h6 {
  font-size: 1.8rem ;
  font-weight: 900 ;
}

#Estrutura img {
  opacity: 0.85;
}

#Estrutura img:hover {
  opacity:1;
}

#Estrutura h2 {
  font-size: 3rem;
  font-weight:900;

}
#Estrutura p {
  font-size: 2.2rem
}
#Estrutura img{
  display: block;
  min-width: 100%;
  border-radius: 5%;
  min-height: auto;
}

#Podcast{
  background: url(../images/aba8/FraudesFundo.png);no-repeat center center scroll ; 
  background-size: cover; 
  font-size: 2.1rem;
}
#Podcast #Exploramos{

  font-size: 2.5rem;
}
#Description-CEO-2{
  display: none;
}
#Description-CEO-1{
  display: block;
}
.footer-link-sm{
  display: block !important;
  width:100% !important;

}

#Footer img {
  max-width: 100%; /* Limita a largura da imagem à largura da coluna */
  height: auto;    /* Mantém a proporção da imagem */
}

#TrabalheConosco label {
  text-align:left;
}

.my-btn-orange {
  background-color: #ff6200; /* Cor de fundo laranja */
  color: #fff; /* Cor do texto branca */
  font-size: 1.6rem; /* Tamanho do texto maior */
  font-weight: bold; /* Texto em negrito */
  padding: 0px 20px; /* Espaçamento interno */
  border: none; /* Sem borda */
  border-radius: 3px; /* Bordas arredondadas */
  text-align: center; /* Alinhamento centralizado */
  text-decoration: none; /* Remover sublinhado */
  display: inline-block; /* Para evitar comportamento de bloco completo */
  transition: transform 0.3s ease; /* Efeito ao passar o mouse */
}

.btn {
 font-size: 1.5rem; /* Tamanho do texto maior */
 font-weight: bold; /* Texto em negrito */
 padding: 0px 20px; /* Espaçamento interno */
 border: none; /* Sem borda */
 border-radius: 3px; /* Bordas arredondadas */
 text-align: center; /* Alinhamento centralizado */
 text-decoration: none; /* Remover sublinhado */
 display: inline-block; /* Para evitar comportamento de bloco completo */
 transition: transform 0.3s ease; /* Efeito ao passar o mouse */
}

.btn:hover {
  transform: scale(1.05); /* Leve aumento ao passar o mouse */
  color: white;
  text-shadow: none;
}

#Acessoria {
  color:white;
  background: url(../images/aba5/FundoAcessoria.png) ;
  background-attachment: scroll; 
  background-size: cover; 
  background-repeat: none;
}
/*
Ajustes finais
*/
#Acessoria h2 {
  font-size: 3rem;
}

#Acessoria p{
  font-size: 2.1rem
}

#Clientes h2 {
  font-size: 3rem;
} 

#chamada1-title1{
  font-size: 3rem;
  color: black;
}
#chamada1-title2
{
  font-size: 4rem;
}
#chamada1-title3{
  font-size: 3rem;
}
#chamada1-title4{
  font-size: 2.5rem;
}
#Chamada1  h3 {
  margin: 24px 0px ;
  color: black;

}

#Chamada2 h2 {
  font-size: 4 rem;
}

/* Inicio Clientes  */


.custom-carousel-container {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  width: 100%;
  position: relative;
}

.custom-carousel-inner {
  display: flex;
  transition: transform 0.5s ease-in-out;
  width: 100%;
}

.custom-carousel-item {
  flex: 0 0 25%; /* Cada item ocupa 25% da largura do contêiner */
  display: flex;
  justify-content: center;
  align-items: center;
}

.custom-carousel-item img {
  max-width: 80%;
  height: auto; /* Mantém a proporção das imagens */
  display: block;
  margin: 0 auto;
}

.custom-carousel-control-prev,
.custom-carousel-control-next {
  cursor: pointer;
  font-size: 24px; /* Tamanho das setas */
  color: #fff; /* Cor das setas */
  background-color: rgba(0, 0, 0, 0.5); /* Fundo semitransparente */
  padding: 10px;
  border-radius: 50%;
  text-align: center;
  margin: 0 10px;
  text-decoration: none;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.custom-carousel-control-prev {
  left: 10px;
}

.custom-carousel-control-next {
  right: 10px;
}



/* Fim Clientes  */
#Clientes {
  background: #333;
}


footer p {
  font-size: 1.2rem;
}

footer a{
  color: black;
  font-weight: 900;
  margin: 0 5px;
  font-size: 1.2rem;
}

footer img{
  max-width: 250px;
  display: block;
}
footer a {
  text-decoration:none;
}

footer a:hover, .nav-link:hover{
  color: var(--laranja) !important;
}

/* Ajuste tela MD */
@media (max-width:976px) { 
  .navbar-nav {
    flex-direction: column;
    align-items: center;
  }



}

/* TELA SM */
@media (max-width:576px) {   



  ul li::marker{
    font-size: 1rem !important;
  }



  #Nossas-Solucoes ul li  {
    font-size: 1.1rem;
  }

  #Nossas-Solucoes p {
    font-size:1.2rem;
  }

  .enviar{
    font-size: 1.2rem;
  }

  .logo{
    width:242px;
    height:45px;
  }

  #TecnologiasHeader {
    font-size: 2rem;
    padding:10px 0px ;
  }

  #TecnologiasHeader > strong{
    display: block;
  }

  .container, .container-fluid{
    margin:0;
    padding:0;


  }

  .row{
    display:block;
  }

  .form-label{
    text-align: left;
  }

  #Nossas-Solucoes { 
    background: url(../images/aba3/InadimplenciaFundo.png) no-repeat center center scroll ; 
    background-size: cover; 
    color: white; 
    min-height: 100vh; 
    padding: 100px 50px; 

  }

  #Nossas-Solucoes h2{
    font-size: 1.9rem;
    display: flex;
    float: left;
  }
  #Nossas-Solucoes span{
    font-size: 2rem
  }
  #Nossas-Solucoes h3{
    font-size: 1.4rem;
  }
  #Nossas-Solucoes h4{
    font-size: 1.4rem;
  }

  #Nossas-Solucoes ul li  {
    font-size: 1.4rem;
  }

  #Nossas-Solucoes p {
    font-size:1.3rem;
  }
  #Nossas-Solucoes span,
  #Nossas-Solucoes h3,
  #Nossas-Solucoes h4,

  #Nossas-Solucoes p {
    padding: 20px 0;
  }
  
  #Nossas-Solucoes {
    background: 
    url(../images/aba3/InadimplenciaFundo.png) 
    no-repeat 
    right bottom;
    padding: 100px 50px;
    background-position: left bottom; 
    background-repeat: no-repeat; 

  }

  #TrabalheConosco {
    padding:10%;
  }
  #Description-CEO-1{
    display: none ;
  }
  #Description-CEO-2{
    display: block;
  }
  .navbar-nav {
    flex-direction: column;
    align-items: center;
  }



  #Footer .col-12.col-xl-2, #Footer .col-12.col-xl-8 {
    margin-bottom: 10px;  Adiciona espaçamento entre os elementos em telas menores 
  }

  .carousel-item {
    text-align: center;
  }

  .carousel-item img {
    margin: auto;
    max-width: 80%;
  }

  #SectionForm h2{
    font-size: 2rem;
  }

  #SectionForm {
    padding: 0;
  }
  .br-none{
    display: none;
  }
}

